html {
  scroll-behavior: smooth;
  background-color: rgb(39, 39, 39);
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
}

a {
  color: var(--link-color);
}

.text {
  font-family: var(--font-main);
  font-weight: 450;
  font-size: em(18);
  line-height: 1.5;
  color: var(--text-color-alt);

  @include mobile {
    font-size: em(16);  
  }
}

.muted {
  font-weight: 450;
  color: var(--text-color-alt);
}

.h1 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: em(72);
  color: var(--text-color);

  @include laptop {
    font-size: em(52);
  }
  
  @include mobile {
    font-size: em(36);
  }
}

.h2 {
}

.h3 {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: em(36);
  color: var(--text-color);

  @include tablet {
    font-size: em(32);
  }
}

.h4 {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: em(24);
  line-height: 1.4;
  color: var(--text-color-alt-muted);

  @include tablet {
    font-size: em(20);
  }

  @include mobile {
    font-size: em(18);
  }
}

.smooth-transition {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
