:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: CircularStd, sans-serif;

	--page-bg: #fff;
	--footer-bg: #181818;
	
	--text-color: #181818;
	--text-color-alt: #909090;

	--accent: #35aff4;
	--color-dark: #181818;
	--color-light: #fff;

	--link-color: #35aff4;

	--input-heigth: 48px;
  --button-heigth: 48px;
	--border-radius: 8px;
	--border: 1px solid #b7b7b7;

  --section-padding-y: 60px;

  --transition-duration: 0.2s; 

	@include laptop {
		--section-padding-y: 40px;
	}

	@include mobile {
		--section-padding-y: 20px;
	}
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}