.discover {
  padding-block: var(--section-padding-y);

  // .discover__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 560px));
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include laptop {
      grid-template-columns: 1fr;
    }
  }

  // .discover__desc

  &__desc {
    z-index: 10;
  }

  // .discover__title

  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: 24px;

    &--decore {
      &::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: auto;
        z-index: -1;

        background-color: var(--accent);
        clip-path: path(
        "M267.463 7.63308C266.371 4.80377 256.989 3.61244 228.795 2.6197C202.488 1.67659 171.862 -1.05339 118.353 0.435718C77.4521 1.57737 26.5246 6.14402 26.5246 8.67551C26.5246 10.5121 28.5102 10.5617 47.4715 8.92369C64.9933 7.43458 73.9776 7.08712 84.9474 6.69003C40.969 10.5617 31.5876 13.0931 8.1589 15.5253C-6.53365 17.0641 2.05355 21.4818 7.41434 21.0351C7.46398 21.0351 75.8141 15.4757 82.2669 15.7735C82.8626 15.8231 76.3602 16.7166 67.773 17.759C43.7983 20.7372 48.4145 25.7008 66.3831 23.4175C126.841 15.7238 183.725 13.3412 227.554 16.6669C241.403 17.7092 242.942 17.7092 242.942 16.4187C242.942 14.1354 239.169 12.3982 233.263 12.0507C224.03 11.4551 188.49 9.76737 172.408 9.271C171.167 9.22137 171.762 8.27841 172.854 8.17914C179.407 7.53385 231.426 8.03003 251.877 8.72495C266.917 9.22132 268.009 9.17183 267.463 7.63308Z");
        width: 268px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;

        @include mobile {
          width: 184px;
          height: 12px;
          background-size: contain;
        }
      }
    }
  }

  // .discover__text

  &__text {
    margin-bottom: 50px;

    @include laptop {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  // .discover__form

  &__form {
  }

  // .discover__picture

  &__picture {
    position: relative;

    @include laptop {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;

      width: fit-content;
      grid-row: -1 / 1;
    }

    // .discover__picture-hint

    &-hint {
      position: absolute;
      z-index: 10;
      top: 90px;
      left: 40px;
      max-width: em(324);
      width: 100%;

      @include desktop {
        top: 40px;
        left: 20px;
      }

      @include mobile {
        max-width: 280px;
        top: 20px;
        left: auto;
      }
    }

    // .discover__picture-scroll

    &-scroll {
      position: absolute;
      right: 15px;
      bottom: 20px;

      @include desktop {
        right: 0;
        bottom: 0;
      }

      @include mobile-xs {
        display: none;

      }
    }
  }

  // .discover__image

  &__image {
    clip-path: path(
      "M523.5 2L231 1C214.431 1 201 14.4315 201 31V158V162C201 179.673 186.673 194 169 194H157.5H31.5C14.6553 194 1 207.655 1 224.5V230.5V606V610C1 627.673 15.3269 642 33 642H49H325H329.5C346.897 642 361 627.897 361 610.5V547.5L361.5 486C361.5 468.327 375.827 454 393.5 454H408.477H527.5H531C547.569 454 561 440.569 561 424V32C561 15.4315 547.569 2 531 2H523.5Z"
    );
    @include mobile {
      clip-path: path(
        "M467.518 1.93604L206.357 1C191.564 1 179.571 12.9924 179.571 27.7857V29.0811V147.958V149.655C179.571 167.328 165.245 181.655 147.571 181.655H140.732H28.2321C13.1923 181.655 1 193.847 1 208.887V215.821V567.303V569C1 586.673 15.3269 601 33 601H43.8571H267.539H270.196C286.481 601 299.682 587.799 299.682 571.515V512.544V410.953C299.682 394.41 313.092 381 329.635 381H341.625H470.643H472.472C487.981 381 500.554 368.428 500.554 352.919L501 30.0172C501 14.5084 488.428 1.93604 472.919 1.93604H467.518Z"
      );
    }

    @include mobile-s {
      clip-path: path(
        "M374.214 1.62402L165.286 1H162.578C152.239 1 143.857 9.38156 143.857 19.7207V98.9719C143.857 111.379 133.799 121.437 121.392 121.437H112.786H22.7857C10.7538 121.437 1 131.191 1 143.223V144.214V378.535C1 390.942 11.0579 401 23.4649 401H35.2857H232.429H238.486C249.342 401 258.143 392.199 258.143 381.343V342.03L258.5 303.652C258.5 292.624 267.44 283.683 278.469 283.683H292.055H377.071H382.279C392.618 283.683 401 275.302 401 264.963V20.3448C401 10.0056 392.618 1.62402 382.279 1.62402H374.214Z"
      );
    }
    @include mobile-xs {
      clip-path: none;
    }
  }
}
