.form {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
  column-gap: 16px;
  border: 1px solid rgba(144, 144, 144, 0.3);
  border-radius: 16px;
  padding: 12px 16px;

  // .form__label

  &__label {
    padding-left: 36px;

    display: grid;
    row-gap: 8px;

    background-position: 0 0; /* x y */
    background-size: auto;
    background-repeat: no-repeat;
    
    span {
      font-family: var(--font-main);
      font-weight: 500;
      font-size: em(16);
      color: #181818;
      line-height: normal;
    }
  }

  .form__locations {
    background-image: url('./../../img/svgsprite/stack/svg/sprite.stack.svg#icons--map');
    background-size: 24px;
  }

  .form__date-time {
    background-image: url('./../../img/svgsprite/stack/svg/sprite.stack.svg#icons--calendar');
    background-size: 24px;
  }

  // .form__input

  &__input {
    font-family: var(--font-main);
    font-weight: 450;
    font-size: em(14);

    ::placeholder {
      color: var(--text-color-alt);
    }
  }

  // .form__devider

  &__devider {
    border: 1px solid #909090;
    width: 0;
    height: 24px;
  }

  // .form__button

  &__button {
    border-radius: 10px;
    padding: 12px;
    width: var(--button-heigth); 
    height: var(--button-heigth);
    background-color: var(--accent);
    background-image: url("./../../img/svgsprite/stack/svg/sprite.stack.svg#icons--search");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    @include hover {
      background-color: var(--text-color);
    }
  }
}
