.partners {
  padding-block: 60px;

  // .partners__row

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
  }

  // .partners__title

  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #9e9e9e;
  }

  // .partners__body

  &__body {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
  
  // .partners__image
  
  &__image {
    filter: grayscale(1);
  }
}
