.subscribe-form {
  display: flex;
  column-gap: 12px;
  align-items: center;

  @include mobile {
    flex-direction: column;
    align-items: stretch;
    row-gap: 12px;
  }

  // .subscribe-form__input

  &__input {
    flex-grow: 1;
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius);
    padding: 12px 12px 12px 44px;
    height: var(--input-heigth);
    background: var(--page-bg);
    font-family: var(--font-main);
    font-weight: 450;
    font-size: rem(14);
    line-height: 1.5;
    color: var(--text-color);
    
    background-image: url('./../../img/svgsprite/stack/svg/sprite.stack.svg#icons--email');
    background-position: 12px 8px; /* x y */
    background-size: 24px;
    background-repeat: no-repeat;

    &::placeholder {
      color: var(--text-color-alt);
    }
  }

  // .subscribe-form__button

  &__button {
    padding: 12px 24px;
    border-radius: var(--border-radius);
    height: var(--button-heigth);

    font-family: var(--font-main);
    font-weight: 450;
    font-size: em(16);
    line-height: 1.5;
    background-color: var(--color-dark);
    color: var(--color-light);

    @include hover {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
  }
}
