.subscribe {
  padding-block: calc(var(--section-padding-y) * 1.33);  // 80px
  background-color: var(--accent);
  overflow-y: hidden;

  @media ((max-width: 1440px) and (min-width: 1024px)) {
    --section-padding-y: 60px;
    padding-block: var(--section-padding-y);
  }

  @include laptop {
    padding-block: calc(var(--section-padding-y) * 1);
  }
  // .subscribe__row

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding-left: 180px;

    @include laptop {
      flex-direction: column;
      row-gap: 10px;
      padding-left: 160px;
    }

    @include mobile {
      align-items: stretch;
      padding-left: unset;
    }
    //   padding-right: 50px;
    // }

    // ..subscribe__row::before

    &::before {
      content: "";
      position: absolute;
      left: -78px;
      top: -103px;
      width: 236px;
      height: 273px;
      background-image: url('./../../img/svgsprite/stack/svg/sprite.stack.svg#subscribe--subscribe-pin-bg');
      background-repeat: no-repeat;

      @include laptop {
        top: -53px;
      }

      @include mobile {
        display: none;
      }
    }
  }

  
  // .subscribe__desc

  &__desc {
    display: grid;
    row-gap: 4px;
  }

  // .subscribe__title

  &__title {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: em(28);
    color: var(--color-light);
  }

  // .subscribe__description

  &__description {
    font-family: var(--font-main);
    font-weight: 450;
    font-size: em(20);
    color: var(--color-light);
  }

  // .subscribe__form

  &__form {
    flex-grow: 1;
    max-width: 460px;
    width: 100%;

    @include mobile {
      max-width: none;
    }
  }
}
