.testimonials {
  overflow-y: hidden;

  @include laptop {
    height: 400px;
  }

  // .testimonials-horizontal

  &-horizontal {
    display: none;

    .swiper {
      width: 100%;
    }

    .card-review {
      height: 300px;
      gap: 10px;
    }

    @include laptop {
      display: block;
    }
  }


  // .testimonials__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @include laptop {
      display: none;
    }
  }

  // .testimonials__col

  &__col {
    display: grid;
    row-gap: 32px;
    padding-top: 25px;
  }

  &__swiper {
    height: 900px;

    // @include laptop {
    //   height: ;
    // }

    .swiper-slide {
      height: 354px !important;
      margin-bottom: 32px;

      @include desktop {
        height: max-content !important; 
      }
    }
  }
}


