.testimonials {

  // .testimonials__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  // .testimonials__col

  &__col {
    display: grid;
    row-gap: 32px;
    padding-top: 25px;
  }

  &__swiper {
    height: 900px;

    .swiper-slide {
      height: 322px !important;
    }
  }
}


