.toggle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  // .toggle__checkbox

  &__checkbox {
  }

  // .toggle__container

  &__container {
    display: inline-block;
    width: 26px;
    height: 46px;
    background-color: transparent; /* Цвет фона */
    border-radius: 20px; /* Закругление углов */
    cursor: pointer;
    position: relative;
    border: 3px solid #181818;
  }

  // .toggle__circle

  &__circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    width: 12px;
    height: 12px;
    background-color: #181818;
    border-radius: 50%;
    transition: transform 0.3s;
  }
}

.toggle__checkbox:checked + .toggle__container {
  background-color: #ded8d8;
  .toggle__circle {
    left: 50%;
    transform: translate(-50%, -20px);

  }
}
