<div class="swiper-slide">
    <article class="card-populars">
        <img src="./../../../img/popular/@@imagesPopulars" alt="@@altPopulars" class="card-populars__images" width="304" height="304" loading="lazy" />
        <div class="card-populars__title-wrapper">
            <h3 class="card-populars__title">@@titlePopulars</h3>
            <span class="card-populars__rating">(@@ratingPopulars)</span>
        </div>
        <div class="card-populars__price">
            Starts from <span><i>@@currencyPopulars</i>@@pricePopulars</span>
        </div>
    </article>
</div>